body {
  font-family: Helvetica;
  margin: 0;
}

h1 {
  font-weight: 200;
}

.avatar{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.profile{
  border-radius: 50%;
  width: 25%;
}
